@import "~antd/es/style/themes/default";

.pageWrapper {
  position: relative;
  padding: 0 24px 24px 24px;

  .auditStatus {
    position: absolute;
    top: 40px;
    left: 15px;
    z-index: 0;
    pointer-events: none;
    width: 100px;
    height: 100px;
    background: url(../../../../assets/icons/audit-sign.png) no-repeat center center/cover;

    > div {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #dd5c55;
      transform: rotate(-18deg) translateY(32px) translateX(-10px);
    }
  }
}

.sectionHead {
  font-size: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

  &:before {
    content: "";
    display: block;
    height: 16px;
    width: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 2px;
    background: var(--primary-color);
  }

  &:after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #e9e9e9;
  }


  .headTitle {
    display: flex;
    font-weight: bold;
    z-index: 11;
    background: #fff;
    align-items: center;
    padding-right: 10px;
  }
}


.formItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

  .formLabel {
    flex: 0 0 100px;
    width: 100px;
    text-align: right;
    margin-right: 20px;
    line-height: 32px;

    &:global.required {
      &:before {
        content: "*";
        display: inline-block;
        margin-right: 4px;
        line-height: 32px;
        font-family: SimSu, sans-serif;
        color: #ff4d4f;
        font-size: 14px;
      }
    }
  }

  .formField {
    flex: 1;
  }
}

.dimensionWrapper {
  padding: 10px 10px;
  height: 685px;
  overflow: auto;

  :global .ant-checkbox-wrapper {
    height: 30px;
    line-height: 30px;
    color: rgba(0, 0, 0, .65);
    white-space: nowrap;

    > .ant-checkbox + span {
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.dimensionItem {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 5px;
  padding: 0 20px;

  .dimensionItemLabel {
    flex: 0 0 auto;
    text-align: right;
    margin-right: 20px;
    color: rgba(0, 0, 0, .65);
  }

  .dimensionField {
    flex: 1;
  }
}

.radio1 {
  :global .ant-radio-wrapper {
    line-height: 32px;
  }
}
